header .content{padding: 0; }
.main_header_fixed .main_logo{position: relative; width: 150px; height: 100px;}
.main_header_fixed .main_logo a{position: absolute; width: 150px; height:100px;}
.main_header_fixed .main_nav{ margin-top: 30px;}
body header.main_header_fixed {top: 0;}
body header {top:-50%;}

.main_logo{position: relative; width: 150px; height: 150px;}
.main_logo a{position: absolute; width: 150px; height: 150px; background: url(../img/logo.png) center center no-repeat; background-size: auto 76%;}
.main_logo a:hover{background-color: #fbfbfb;}

/*MENU PRINCIPAL*/
.main_nav{width: auto; margin-top: 30px;}
.main_nav li{float: left;}
.main_nav a{float: left; padding: 12px 10px; color: #001644; font-weight: normal;}
.main_nav a:hover{color: #002758; text-decoration: underline;}

.main_background{
    /*opacity: 0.4;*/
    background-color:rgba(0, 0, 0, 0.5);
    /*    background-color:red;*/
    background-image: url(../img/background2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/*RODAPÉ*/
.main_footer .title{font-size: 1em; text-transform: uppercase; margin-bottom: 10px; padding-bottom: 8px; border-bottom: 1px solid #ccc;}
.main_footer li{margin-bottom: 3px; padding: 3px 0;}
.main_footer a{color: #001644;}
.main_footer a:hover{text-decoration: underline;}

/*rodape last*/
.main_ead hr{margin-bottom: 15px;}
.main_ead .plast{margin: 0; font-size: 1em; line-height: 1.4;}


/*TEC CARACTERISTIAS*/
.main_tec_item{padding: 15px 30px; margin-bottom: 30px; min-height: 380px;}
.main_tec_item:hover{background: #BFBEBC; color: #FFF; -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);}
.main_tec_item img{padding: 25px; width: 80%; margin: 0 10%; background: #eee; border-radius: 15%; -webkit-border-radius:15% ; -moz-border-radius: 15%; margin-bottom: 15px;}
.main_tec_item h1{font-size: 1.4em; margin-bottom: 15px;}
.main_tec_item .tagline{font-size: 1em;}

/*FICHA TÉCNICA*/
.main_info{padding: 25px; background: #eee; text-align: center; }
.main_info h1{font-size: 1.5em;}
.main_info b{display: block; font-size: 2em;}

/*DOBRA DE CONVERSÃO*/
.main_chamada{float: left; width: 80%; margin: 40px 10% 0 10%; font-size: 1.5em; font-weight: 300;}

.main_form input{
    padding: 15px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-family: 'Arial', serif;
}

.main_form textarea{
    padding: 15px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-family: 'Arial', serif;
}

.main_razoes ul{
    margin-bottom: 50px;
}

.main_acordeon{
    padding-bottom: 50px;


}

.main_title h1{
    margin: 4% auto;
}


.main_header_fixed{
    position: fixed;
    top:0;
    left: 0;
    background: #fbfbfb;
    /*border-bottom: 2px solid #ccc;*/
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.4);
    z-index: 99;
    transition: 1s;
}
.main_razoes ul{
    width: 70%;
    margin: 0 auto;
    margin-bottom : 4%;
}
.main_razoes p{
    line-height: 30px;
    font-size: 1.2em;
}
/*/////////////////////////////////*/
.mobile_action{
    width: 66px;
    height: 66px;
    margin: 10px 0 0 0;
    float: right;
    cursor: pointer;
    background:url(../img/menu.svg) center center no-repeat;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.mobile_action.active{
    background-color: #0A2041;
}

.mobile_action:hover{
    background-color: #fff;
}
/*//////////////////////////////////////*/
/*260PX BREAKPOINT*/
@media (min-width: 16em){

    .mobile_action{
        width: 56px;
        height: 56px;
        margin: 10px 0 0 0;
        float: right;
        cursor: pointer;
        background: url(../img/menu.svg) center center no-repeat;
        background-size: cover;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }

    .mobile_action.active{
        background:url(../img/close.svg) center center no-repeat;
        background-size: cover;
    }

    .mobile_action:hover{
        /*    background-color: ;*/
        background: #CFCFCF url(../img/menu.svg) center center no-repeat;
        background-size: cover;
    }

    .mobile_action.active:hover{
        /*    background-color: ;*/
        background: #CFCFCF url(../img/close.svg) center center no-repeat;
        background-size: cover;
    }



    .shoticonc{padding-left: 12%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}
    .shoticon{padding-left: 12%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}
    .main_acordeon .content{
        width:100%;
    }



    .sectiontitle h1{font-size: 2em; font-weight: 300; margin-bottom: 10px;}
    .sectiontitle2 h1{width: 90%; font-size: 2em; font-weight: 300; padding: 30px 0; margin:0 auto;}
    .main_nav{
        display: none;
    }
    .main_header_fixed .main_logo{position: relative; width: 70px; height: 70px;}
    .main_header_fixed .main_logo a{position: absolute; width: 70px; height:70px;}


    .main_logo{position: relative; width: 80px; height: 80px;}
    .main_logo a{position: absolute; width: 80px; height: 80px; background: url(../img/logo.png) center center no-repeat; background-size: auto 76%;}
    .main_logo a:hover{background-color: #fbfbfb;}


    .main_header_fixed .mobile_action{ margin-top: 4%;}
    .mobile_action{margin-top: 6%;
    } 


    .main_header_nav{
        position: fixed;
        left: -100%;
        top: 0%;
        width: 70%;
        height: 100%;
        min-width: 60%;
        background: #0A2041;
        z-index: 99;
        overflow: hidden;
        overflow-y: auto;
    }

    .main_header_nav h1{
        margin-top: 5%;
        color: #FFF;
    }

    .main_header_nav a{
        text-align: center;
        color: #fff;
        width: 100%;
        border:none;
    }

    .box-small{
        width: 100%; margin-bottom: 10% ;
    }

    .box-medium{
        width: 100%; margin-bottom: 10% ;
    }
    
    .main_acordeon .content{
         width: 90%;
    }
    .main_razoes ul{
        width: 100%;
        margin: 0 auto;
        margin-bottom : 10%;
    }

    .main_razoes li{
        margin-bottom: 20px;
    }



}



/*
400PX BREAKPOINT
*/
@media (min-width: 21em){

    .mobile_action{
        width: 56px;
        height: 56px;
        margin: 10px 0 0 0;
        float: right;
        cursor: pointer;
        background: url(../img/menu.svg) center center no-repeat;
        background-size: cover;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }

    .mobile_action.active{
        background:url(../img/close.svg) center center no-repeat;
        background-size: cover;
    }

    .mobile_action:hover{
        /*    background-color: ;*/
        background: #CFCFCF url(../img/menu.svg) center center no-repeat;
        background-size: cover;
    }

    .mobile_action.active:hover{
        /*    background-color: ;*/
        background: #CFCFCF url(../img/close.svg) center center no-repeat;
        background-size: cover;
    }


    .shoticonc{padding-left: 8%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}
    .shoticon{padding-left: 8%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}
    .main_header_nav{
        position: fixed;
        left: -100%;
        top: 0%;
        width: 70%;
        height: 100%;
        min-width: 60%;
        background: #0A2041;
        z-index: 99;
        overflow: hidden;
        overflow-y: auto;
    }

    .main_header_nav h1{
        margin-top: 5%;
        color: #FFF;
    }

    .main_header_nav a{
        text-align: center;
        color: #fff;
        width: 100%;
        border:none;
    }

    .main_nav{
        display: none;
    }

    .main_header_fixed .mobile_action{ margin-top: 4%;}
    .mobile_action{margin-top: 4%;
    } 

    .main_logo{position: relative; width: 80px; height: 80px;}
    .main_logo a{position: absolute; width: 80px; height: 80px; background: url(../img/logo.png) center center no-repeat; background-size: auto 76%;}
    .main_logo a:hover{background-color: #fbfbfb;}

    .main_header_fixed .main_logo{position: relative; width: 80px; height: 80px;}
    .main_header_fixed .main_logo a{position: absolute; width: 80px; height:80px;}
    .main_header_fixed .main_nav{ margin-top: 30px;}



    .box-small{
        width: 100%; margin-bottom: 10% ;
    }

    .box-medium{
        width: 100%; margin-bottom: 10% ;
    }

    .main_razoes ul{
        width: 100%;
        margin: 0 auto;
        margin-bottom : 10%;
    }
}
/*
480PX BREAKPOINT
*/
@media (min-width: 30em){

    .mobile_action{
        width: 56px;
        height: 56px;
        margin: 10px 0 0 0;
        float: right;
        cursor: pointer;
        background: url(../img/menu.svg) center center no-repeat;
        background-size: cover;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }

    .mobile_action.active{
        background:url(../img/close.svg) center center no-repeat;
        background-size: cover;
    }

    .mobile_action:hover{
        /*    background-color: ;*/
        background: #CFCFCF url(../img/menu.svg) center center no-repeat;
        background-size: cover;
    }

    .mobile_action.active:hover{
        /*    background-color: ;*/
        background: #CFCFCF url(../img/close.svg) center center no-repeat;
        background-size: cover;
    }

    .shoticonc{padding-left: 8%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}
    .shoticon{padding-left: 8%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}


    .main_acordeon .content{
        width:95%;
    }
    .main_header_nav{
        position: fixed;
        left: -100%;
        top: 0%;
        width: 65%;
        height: 100%;
        min-width: 60%;
        background: #0A2041;
        z-index: 99;
        overflow: hidden;
        overflow-y: auto;
    }

    .main_nav{
        display: none;
    }
    .main_header_fixed .mobile_action{ margin-top: 3%;}
    .mobile_action{margin-top: 3%;} 

    .main_header_fixed .main_logo{position: relative; width: 80px; height: 80px;}
    .main_header_fixed .main_logo a{position: absolute; width: 80px; height:80px;}
    .main_header_fixed .main_nav{ margin-top: 30px;}

    .main_logo{position: relative; width: 80px; height: 80px;}
    .main_logo a{position: absolute; width: 80px; height: 80px; background: url(../img/logo.png) center center no-repeat; background-size: auto 76%;}
    .main_logo a:hover{background-color: #fbfbfb;}



    .box-small{
        width: 100%; margin-bottom: 10% ;
    }

    .box-medium{
        width: 100%; 
        margin-bottom: 10% ;

    }

}
/*
592PX BREAKPOINT
*/
@media (min-width: 37em){

    .mobile_action{
        width: 56px;
        height: 56px;
        margin: 10px 0 0 0;
        float: right;
        cursor: pointer;
        background: url(../img/menu.svg) center center no-repeat;
        background-size: cover;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }

    .mobile_action.active{
        background:url(../img/close.svg) center center no-repeat;
        background-size: cover;
    }

    .mobile_action:hover{
        /*    background-color: ;*/
        background: #CFCFCF url(../img/menu.svg) center center no-repeat;
        background-size: cover;
    }

    .mobile_action.active:hover{
        /*    background-color: ;*/
        background: #CFCFCF url(../img/close.svg) center center no-repeat;
        background-size: cover;
    }




    /*//////////////////////////////////////*/
    .shoticonc{padding-left: 6%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}
    .shoticon{padding-left: 12%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}
    .main_acordeon .content{
        width:85%;
    }

    .main_header_nav{
        position: fixed;
        left: -100%;
        top: 0%;
        width: 65%;
        height: 100%;
        min-width: 60%;
        background: #0A2041;
        z-index: 99;
        overflow: hidden;
        overflow-y: auto;
    }
    .main_nav{
        display: none;
    }
    .main_header_fixed .mobile_action{ margin-top: 4%;}
    .mobile_action{
        margin-top: 4%;
    } 

    .main_header_fixed .main_logo{position: relative; width: 90px; height: 90px;}
    .main_header_fixed .main_logo a{position: absolute; width: 90px; height:90px;}
    .main_header_fixed .main_nav{ margin-top: 30px;}

    .main_logo{position: relative; width: 90px; height: 90px;}
    .main_logo a{position: absolute; width: 90px; height: 90px; background: url(../img/logo.png) center center no-repeat; background-size: auto 76%;}
    .main_logo a:hover{background-color: #fbfbfb;}


    .box-small{
        width: 46.5%; margin-bottom: 10% ;

    }

    .main_footer .box-medium{
        width: 48%;  
        min-height: 150px;
        margin-bottom: 5%;
        margin-right: 3%;
    }

    footer .content{
        width: 90%;
    }
    .last_footer{
        margin-right: 0 !important;
    }
    .box_full{

        width: 100%!important; margin-bottom: 0 ;
    }
    .plast{
        text-align:center;
    }


    .main_razoes p{
        line-height: 30px;
        font-size: 1.1em;
    }

    .main_razoes ul{
        width: 90%;
        margin: 0 auto;
        margin-bottom : 10%;
    }
}

/**
768PX BREAKPOINT
*/
@media (min-width: 48em){ 


    .mobile_action{
        width: 56px;
        height: 56px;
        margin: 10px 0 0 0;
        float: right;
        cursor: pointer;
        background: url(../img/menu.svg) center center no-repeat;
        background-size: cover;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }

    .mobile_action.active{
        background:url(../img/close.svg) center center no-repeat;
        background-size: cover;
    }

    .mobile_action:hover{
        /*    background-color: ;*/
        background: #CFCFCF url(../img/menu.svg) center center no-repeat;
        background-size: cover;
    }

    .mobile_action.active:hover{
        /*    background-color: ;*/
        background: #CFCFCF url(../img/close.svg) center center no-repeat;
        background-size: cover;
    }




    /*//////////////////////////////////////*/
    .shoticonc{padding-left: 4%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}
    .shoticon{padding-left: 9%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}
    .main_acordeon .content{
        width:85%;
    }

    .main_footer .box-medium{
        width: 46.5%;  
        min-height: 150px;
        margin-bottom: 0;
        margin-right: 7%;
    }
    .main_header_nav{
        position: fixed;
        left: -100%;
        top: 0%;
        max-width: 10%;
        height: 100%;
        background: #0A2041;
        z-index: 99;
        overflow: hidden;
        overflow-y: auto;
    }


    .main_nav{
        display: none;
    }

    .main_header_fixed .mobile_action{ margin-top: 4%;}
    .mobile_action{
        margin-top: 4%;
    } 

    .main_header_fixed .main_logo{position: relative; width: 100px; height: 100px;}
    .main_header_fixed .main_logo a{position: absolute; width: 100px; height:100px;}
    .main_header_fixed .main_nav{ margin-top: 30px;}

    .main_logo{position: relative; width: 100px; height: 100px;}
    .main_logo a{position: absolute; width: 100px; height: 100px; background: url(../img/logo.png) center center no-repeat; background-size: auto 76%;}
    .main_logo a:hover{background-color: #fbfbfb;}


}
/*
960PX BREAKPOINT
*/
@media (min-width: 60em){

    .mobile_action{
        width: 66px;
        height: 66px;
        margin: 10px 0 0 0;
        float: right;
        cursor: pointer;
        background: url(../img/menu.svg) center center no-repeat;
        background-size: cover;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }

    .mobile_action.active{
        background:url(../img/close.svg) center center no-repeat;
        background-size: cover;
    }

    .mobile_action:hover{
        /*    background-color: ;*/
        background: #CFCFCF url(../img/menu.svg) center center no-repeat;
        background-size: cover;
    }

    .mobile_action.active:hover{
        /*    background-color: ;*/
        background: #CFCFCF url(../img/close.svg) center center no-repeat;
        background-size: cover;
    }


    /*/////////////////////////*/
    .shoticon{padding-left: 9%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}
    .shoticonc{padding-left: 4%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}

    .main_acordeon .content{
        width:85%;
    }
    .main_header_nav{
        position: fixed;
        left: -100%;
        top: 0%;
        width: 20%;
        height: 100%;

        background: #0A2041;
        z-index: 99;
        overflow: hidden;
        overflow-y: auto;
    }


    .main_nav{
        display: none;
    }
    .main_header_fixed .mobile_action{ margin-top: 3%;}
    .mobile_action{
        margin-top: 3%;
    } 

    .main_header_fixed .main_logo{position: relative; width: 110px; height: 110px;}
    .main_header_fixed .main_logo a{position: absolute; width: 110px; height:110px;}
    .main_header_fixed .main_nav{ margin-top: 30px;}

    .main_logo{position: relative; width: 110px; height: 110px;}
    .main_logo a{position: absolute; width: 110px; height: 110px; background: url(../img/logo.png) center center no-repeat; background-size: auto 76%;}
    .main_logo a:hover{background-color: #fbfbfb;}


    .box-small{
        width: 46.5%; margin-bottom: 10% ;
    }

    .box-medium{
        width: 46.5%;  
        min-height: 150px;

        margin-right: 7%;
    }

    .last{
        margin:0;
    }
    .content{
        width:85%;
    }

    .last_footer{
        margin-right: 0 !important;
    }
    .box_full{

        width: 100%!important;
    }
    .plast{
        text-align:center;
    }

    .main_razoes p{
        line-height: 30px;
        font-size: 1.1em;
    }

    .main_razoes ul{
        width: 80%;
        margin: 0 auto;
        margin-bottom : 5%;
    }
}
/*
1280PX BREAKPOINT
*/
@media (min-width: 80em){
    
    .main_acordeon .content{
         width: 80%;
    }
    .shoticon{padding-left: 7%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}
    .shoticonc{padding-left: 3%; background-position: center left; background-repeat: no-repeat; background-size: auto 96%;}

    .content{
        width:80%;
    }


    .main_header_nav{  
        display: none;


    }
    .mobile_action{
        display: none;
    }

    .main_nav{
        display: block;
        font-size: 0.875em;
    }
    .main_form{
        margin: 0 auto;
        width: 80%;
    }

    .box-medium{
        width: 46.5%;
        margin-right: 7%;
    }
    .last{
        margin:0;
    }


}

